node-red/flows.json
[{"id":"ac9fc5f1fa450d69","type":"tab","label":"自动开关次卫灯","disabled":false,"info":"自动控制次卫灯"},{"id":"5b094e4c6a4f079b","type":"tab","label":"自动浇水","disabled":false,"info":""},{"id":"cf0446d9e8e4a904","type":"group","z":"ac9fc5f1fa450d69","name":"整合信息","style":{"label":true},"nodes":["468a8c2d8b2cd499","d3061791cc590a8c","805c712bace5bc88","3abadfed77200193","2f0c84914e2e50e0","bd9d5106a9523eac","6a4fd39237d4c524","333f4c68d649dd4a","7cdbde20372f6502","abdd5cfe6079a784","fc80bb9429accbfb","8101fcc6f7e445d0","5c09dc42d1ccb525","740833a2e7d2e471","7187381243339a52"],"x":34,"y":39,"w":982,"h":342},{"id":"f14b2a873cf6c360","type":"group","z":"ac9fc5f1fa450d69","name":"处理信息","style":{"label":true},"nodes":["bad0c15556ebbca4","3e07664bc6782348","513f4a72a320584d","ada61089a609e3ea","eea3b78a03aac85c","71e96b83762da05c","1d6af094446fd258","202e423058605fab","95efe1f95546140b","0c1d5e2101738155","de9a165655366eca","033bcf7840a2992d","8832814dbda53e58"],"x":34,"y":419,"w":992,"h":242},{"id":"3578bec1bf523e95","type":"group","z":"5b094e4c6a4f079b","name":"定时浇水","style":{"label":true},"nodes":["c59c64c8127b1f93","e35197f70d979c97","a369fa0541d19a43","9880bdb1b0d69706"],"x":34,"y":39},{"id":"7b7d0db6.1d1144","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"bad0c15556ebbca4","type":"api-call-service","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"开灯","server":"7b7d0db6.1d1144","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"light.mi_smart_bathroom_heater_pro","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":500,"wires":[[]]},{"id":"3e07664bc6782348","type":"api-call-service","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"关灯","server":"7b7d0db6.1d1144","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.mi_smart_bathroom_heater_pro","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":560,"wires":[[]]},{"id":"513f4a72a320584d","type":"state-machine","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"次卫灯状态机","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"currentState","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["无人中","选择中","活动中","快速关灯"],"transitions":[{"name":"开门","from":"无人中","to":"选择中"},{"name":"开灯（门开着）","from":"无人中","to":"选择中"},{"name":"开灯（门关着）","from":"无人中","to":"活动中"},{"name":"关门（30秒内无人移动）","from":"选择中","to":"无人中"},{"name":"30秒内无人移动（门关着）","from":"选择中","to":"无人中"},{"name":"有人移动（门关着）","from":"选择中","to":"活动中"},{"name":"开灯（门关着）","from":"选择中","to":"活动中"},{"name":"开门","from":"活动中","to":"快速关灯"},{"name":"关灯（门关着）","from":"活动中","to":"选择中"},{"name":"关门","from":"快速关灯","to":"无人中"},{"name":"关灯（门开着）","from":"快速关灯","to":"选择中"}],"x":200,"y":520,"wires":[["95efe1f95546140b","0c1d5e2101738155","033bcf7840a2992d"]]},{"id":"ada61089a609e3ea","type":"function","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"是否开灯","func":"msg.payload = \"\";\nif (msg.previousState === \"无人中\" && msg.currentState === \"选择中\") {\n    // 需要低于指定亮度才开灯\n    // 暂时不判断，每次都开灯\n    // if (msg.brightness === \"off\") {\n        msg.payload = \"开灯\";\n    // }\n}\nif (msg.previousState === \"选择中\" && msg.currentState === \"无人中\") {\n    msg.payload = \"关灯\";\n}\nif (msg.previousState === \"快速关灯\" && msg.currentState === \"无人中\") {\n    msg.payload = \"关灯\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":520,"wires":[["eea3b78a03aac85c","1d6af094446fd258"]]},{"id":"eea3b78a03aac85c","type":"switch","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"检查状态","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"开灯","vt":"str"},{"t":"eq","v":"关灯","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":520,"wires":[["bad0c15556ebbca4"],["3e07664bc6782348"]]},{"id":"71e96b83762da05c","type":"api-current-state","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"光照强度","server":"7b7d0db6.1d1144","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ci_wei_door_sensor_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"brightness","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":520,"wires":[["ada61089a609e3ea","8832814dbda53e58"]]},{"id":"1d6af094446fd258","type":"debug","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"输出","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":710,"y":620,"wires":[]},{"id":"468a8c2d8b2cd499","type":"api-current-state","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"获取门的状态","server":"7b7d0db6.1d1144","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ci_wei_door_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"doorState","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":180,"wires":[["d3061791cc590a8c"]]},{"id":"d3061791cc590a8c","type":"function","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"整合信息","func":"if (msg.light === \"on\") {\n    if (msg.doorState === \"on\"){\n        msg.payload = \"开灯（门开着）\";\n    } else {\n        msg.payload = \"开灯（门关着）\";\n    }\n}\nif (msg.light === \"off\") {\n    if (msg.doorState === \"on\"){\n        msg.payload = \"关灯（门开着）\";\n    } else {\n        msg.payload = \"关灯（门关着）\";\n    }\n}\nif (msg.motion === \"30秒内无人移动\") {\n    if (msg.doorState === \"on\") {\n        msg.payload = \"30秒内无人移动（门开着）\";\n    } else {\n        msg.payload = \"30秒内无人移动（门关着）\";\n    }\n}\nif (msg.motion === \"有人移动\") {\n    if (msg.doorState === \"on\") {\n        msg.payload = \"有人移动（门开着）\";\n    } else {\n        msg.payload = \"有人移动（门关着）\";\n    }\n}\nif (msg.door === \"off\" && msg.motionState === \"30秒内无人移动\") {\n    msg.payload = \"关门（30秒内无人移动）\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":180,"wires":[["7cdbde20372f6502","abdd5cfe6079a784"]]},{"id":"805c712bace5bc88","type":"server-state-changed","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"门的状态","server":"7b7d0db6.1d1144","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.ci_wei_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"door","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":100,"wires":[["3abadfed77200193"]],"info":"通过 ESP32 接入，但是不太稳定。"},{"id":"3abadfed77200193","type":"switch","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"检查状态","property":"door","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":100,"wires":[["2f0c84914e2e50e0"],["bd9d5106a9523eac"]]},{"id":"2f0c84914e2e50e0","type":"change","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"开门","rules":[{"t":"set","p":"payload","pt":"msg","to":"开门","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":80,"wires":[["d3061791cc590a8c"]]},{"id":"bd9d5106a9523eac","type":"change","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"关门","rules":[{"t":"set","p":"payload","pt":"msg","to":"关门","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":120,"wires":[["d3061791cc590a8c","7187381243339a52"]]},{"id":"6a4fd39237d4c524","type":"server-state-changed","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"灯的状态","server":"7b7d0db6.1d1144","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.mi_smart_bathroom_heater_pro","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"light","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":180,"wires":[["468a8c2d8b2cd499"]]},{"id":"333f4c68d649dd4a","type":"server-state-changed","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"人体传感器","server":"7b7d0db6.1d1144","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mi_motion_sensor_2_cloud","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"motionTime","propertyType":"msg","value":"","valueType":"entityState"},{"property":"motion","propertyType":"msg","value":"有人移动","valueType":"str"}],"x":120,"y":280,"wires":[["fc80bb9429accbfb","8101fcc6f7e445d0","740833a2e7d2e471"]]},{"id":"7cdbde20372f6502","type":"link out","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"","links":["202e423058605fab"],"x":975,"y":180,"wires":[]},{"id":"202e423058605fab","type":"link in","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"","links":["7cdbde20372f6502"],"x":75,"y":520,"wires":[["513f4a72a320584d"]]},{"id":"abdd5cfe6079a784","type":"debug","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"查看整合信息","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":880,"y":340,"wires":[]},{"id":"95efe1f95546140b","type":"function","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"获取之前状态","func":"// 获取之前状态\nmsg.previousState = flow.get('previousState');\n// 保存当前状态\nflow.set('previousState', msg.currentState);\n\n// 不知道为什么状态机会自己主动输出东西\nif(msg.previousState === msg.currentState || msg.payload === undefined) {\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":520,"wires":[["71e96b83762da05c","de9a165655366eca"]]},{"id":"0c1d5e2101738155","type":"debug","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"状态机","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":190,"y":620,"wires":[]},{"id":"de9a165655366eca","type":"debug","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"之前状态","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":380,"y":620,"wires":[]},{"id":"c59c64c8127b1f93","type":"inject","z":"5b094e4c6a4f079b","d":true,"g":"3578bec1bf523e95","name":"晚上八点","props":[{"p":"payload"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":150,"y":80,"wires":[["e35197f70d979c97"]]},{"id":"e35197f70d979c97","type":"api-current-state","z":"5b094e4c6a4f079b","g":"3578bec1bf523e95","name":"降雨量","server":"7b7d0db6.1d1144","version":2,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"lt","entity_id":"","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":80,"wires":[["a369fa0541d19a43","9880bdb1b0d69706"],["9880bdb1b0d69706"]]},{"id":"a369fa0541d19a43","type":"api-call-service","z":"5b094e4c6a4f079b","g":"3578bec1bf523e95","name":"打开阀门","server":"7b7d0db6.1d1144","version":3,"debugenabled":false,"service_domain":"","service":"","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":80,"wires":[[]]},{"id":"9880bdb1b0d69706","type":"debug","z":"5b094e4c6a4f079b","g":"3578bec1bf523e95","name":"降雨量","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":330,"y":160,"wires":[]},{"id":"fc80bb9429accbfb","type":"debug","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"人体传感器","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":290,"y":340,"wires":[]},{"id":"033bcf7840a2992d","type":"ha-entity","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"次卫状态","server":"7b7d0db6.1d1144","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"currentState","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":380,"y":460,"wires":[[]]},{"id":"8832814dbda53e58","type":"debug","z":"ac9fc5f1fa450d69","g":"f14b2a873cf6c360","name":"光照强度","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"brightness","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":620,"wires":[]},{"id":"8101fcc6f7e445d0","type":"delay","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":300,"y":260,"wires":[["5c09dc42d1ccb525"]]},{"id":"5c09dc42d1ccb525","type":"function","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"30秒内是否有人移动","func":"motionTime = msg.motionTime;\nlatestMotionTime = flow.get('latestMotionTime');\n// 先清空触发\nmsg.motion = '';\nif (motionTime === latestMotionTime){\n    msg.motion = \"30秒内无人移动\";\n    flow.set('motion', msg.motion);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":260,"wires":[["468a8c2d8b2cd499"]]},{"id":"740833a2e7d2e471","type":"change","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"保存之前的状态","rules":[{"t":"set","p":"latestMotionTime","pt":"flow","to":"motionTime","tot":"msg"},{"t":"set","p":"motion","pt":"flow","to":"motion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["468a8c2d8b2cd499"]]},{"id":"7187381243339a52","type":"change","z":"ac9fc5f1fa450d69","g":"cf0446d9e8e4a904","name":"","rules":[{"t":"set","p":"motionState","pt":"msg","to":"motion","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["d3061791cc590a8c"]]}]