node-red/flows.json
[{"id":"ac9fc5f1fa450d69","type":"tab","label":"手机","disabled":true,"info":""},{"id":"7b7d0db6.1d1144","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"bad0c15556ebbca4","type":"api-call-service","z":"ac9fc5f1fa450d69","name":"开灯","server":"7b7d0db6.1d1144","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"light.lite_cloud_339757","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":80,"wires":[[]]},{"id":"5fd277ebbd4ec16e","type":"server-state-changed","z":"ac9fc5f1fa450d69","name":"手机充电","server":"7b7d0db6.1d1144","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.mix_2s_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":160,"wires":[["bad0c15556ebbca4"],["3e07664bc6782348"]]},{"id":"3e07664bc6782348","type":"api-call-service","z":"ac9fc5f1fa450d69","name":"关灯","server":"7b7d0db6.1d1144","version":3,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.lite_cloud_339757","data":"{}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":220,"wires":[[]]}]